<p id="notice"><%= notice %></p>

<h1>Perguntas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perguntas.each do |pergunta| %>
      <tr>
        <td><%= pergunta.pergunta %></td>
        <td><%= link_to 'Ver', pergunta %></td>
        <td><%= link_to 'Editar', edit_pergunta_path(pergunta) %></td>
        <td><%= link_to 'Excluir', pergunta, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Pergunta', new_pergunta_path %>
